body
{
    background-position: center;
    background-size: cover; 
}
h1{
    font-size: 80px;
    color: rgb(253, 251, 255);
    margin-top: 170px;
}
#play{
    margin-top: 30px;
    font-size: 20px;
}
#study{
    margin-top: 30px;
   
    font-size: 20px;
}
#story{
    margin-top: 30px;
    font-size: 20px;
}
#rhyme{
    margin-top: 30px;
   
    font-size: 20px;
}
button{
    width: 250px;
    height: 50px;
}